.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.type-image {
  max-width: 300px; /* Adjust the max-width as needed */
  margin: 20px 0;
}

.type-image img {
  width: 100%; /* Make the image fit the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: add rounded corners */
}

.content-section {
  text-align: center;
}

.title {
  font-size: 2em;
  color: var(--POINT-COLOR);
}

.subtitle {
  font-size: 1.5em;
  color: var(--GRAY);
}

.description {
  font-size: 1em;
  color: var(--BLACK);
  padding: 10px;
}
